form {
    text-align: center;
    width: 75%;
    margin: 2rem auto 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(216, 46, 46);
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
    text-align: initial;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}